<h3>Employee Address:</h3>
<div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="45px">
  <div fxFlex>
    <form [formGroup]="addressFormGroup">
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="25px">
        <div fxFlex>
          <label for="address-line-1">Address Line 1:</label>
          <input id="address-line-1" type="text" formControlName="addressLine1" class="full-width">
        </div>
        <div fxFlex>
          <label for="address-line-2">Address Line 2:</label>
          <input id="address-line-2" type="text" formControlName="addressLine2" class="full-width">
        </div>
        <div fxFlex fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="10px">
          <div fxFlex>
            <label for="address-city">City:</label>
            <input id="address-city" type="text" formControlName="city">
          </div>
          <div fxFlex>
            <label for="address-state">State:</label>
            <input id="address-state" type="text" formControlName="state">
          </div>
          <div fxFlex>
            <label for="address-zip-code">Zip Code:</label>
            <input id="address-zip-code" type="text" formControlName="zipCode">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div fxFlex class="message-container">
    <div *ngIf="addressFormGroup.hasError('invalidAddress')" class="error">
      <fa name="exclamation-triangle"></fa> {{ addressFormGroup.getError( 'invalidAddress') }}
    </div>
    <div *ngIf="validationState.value === 'CHECKING'">
      <fa name="circle-o-notch" animation="spin"></fa> Checking Address...
    </div>
  </div>
  <div fxFlex fxFill>
    <app-address-suggestions (addressSelected)="setAddress($event)"></app-address-suggestions>
  </div>
