<h3>Employee Name:</h3>
<div fxLayout="column" fxLayoutAlign="start start" class='form-container'>
  <div fxFlex>
    <form [formGroup]="employeeForm">
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="25px">
        <div fxFlex>
          <label for="employee-first-name">First Name:</label>
          <input id="employee-first-name" type="text" formControlName="firstName">
        </div>
        <div fxFlex>
          <label for="employee-last-name">Last Name:</label>
          <input id="employee-last-name" type="text" formControlName="lastName">
        </div>
      </div>
    </form>
  </div>
  <div fxFlex>
    <app-address-form [addressFormGroup]="employeeForm.get('address')"></app-address-form>
  </div>
  <div fxFlex>
    <button type="submit" (click)="onSubmitForm()">Submit</button>
  </div>
</div>
