<form [formGroup]="pageOptionsForm">
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="25px">
    <div fxFlex="1 1 24%">
      <label for="sort-by-field">Sort By:</label>
      <select id="sort-by-field" formControlName="sortByField">
        <option *ngFor="let field of sortBy" [value]="field.value">{{ field.name }}</option>
      </select>
    </div>
    <div fxFlex="1 1 24%">
      <label for="sort-direction">Sort Dir:</label>
      <select id="sort-direction" formControlName="sortDirection">
        <option *ngFor="let dir of sortDirections" [value]="dir.value">{{ dir.name }}</option>
      </select>
    </div>
    <div fxFlex="1 1 24%">
      <label for="page-size">Page Size:</label>
      <select id="page-size" formControlName="pageSize">
        <option *ngFor="let size of pageSizes" [value]="size">{{ size }} Records</option>
      </select>
    </div>
    <div fxFlex="1 1 24%">
      <label for="page-number">Page Number:</label>
      <select id="page-number" formControlName="pageNumber">
        <option *ngFor="let p of pages, let i = index" [value]="i">Page #{{ i+1 }} of {{ pages.length }}</option>
      </select>
    </div>
  </div>
</form>
